:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #d9d9d9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #a22020;
  --dl-color-danger-500: #bf2626;
  --dl-color-danger-700: #e14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #ffffff;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003eb3;
  --dl-color-primary-300: #0074f0;
  --dl-color-primary-500: #14a9ff;
  --dl-color-primary-700: #85dcff;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32a94c;
  --dl-color-success-700: #4cc366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-color-bliss-primary: #0000ffff;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-bliss-secondary: #0073e5ff;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
}
.nav-link {
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
}
.nav-link:hover {
  color: var(--dl-color-bliss-primary);
  cursor: pointer;
}
.feature-card {
  gap: 12px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 280px;
  transition: 0.3s;
  align-items: flex-start;
  border-color: #98bdf9;
  border-width: 1.6px;
  border-radius: 16px;
  flex-direction: column;
  background-color: #c5dbfd;
}
.feature-card:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.teleport-menu-close {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.teleport-menu-burger {
  display: none;
}
.teleport-menu-mobile {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.download-card {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-threeunits);
  transition: 0.3s;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 32px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: center;
  background-color: #95f9c3;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

@media (max-width: 767px) {
  .nav-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .teleport-menu-burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 479px) {
  .teleport-menu-mobile {
    height: auto;
    display: none;
    padding: 16px;
  }
}
:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #d9d9d9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #a22020;
  --dl-color-danger-500: #bf2626;
  --dl-color-danger-700: #e14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #ffffff;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003eb3;
  --dl-color-primary-300: #0074f0;
  --dl-color-primary-500: #14a9ff;
  --dl-color-primary-700: #85dcff;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32a94c;
  --dl-color-success-700: #4cc366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.teleport-show {
  display: flex !important;
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 500px;
  background-color: var(--dl-color-gray-white);
}

.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.Nav_bar {
  top: 0%;
  width: auto;
  display: flex;
  z-index: 1;
  position: fixed;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(8px);
  justify-content: space-between;
}
.nav_element {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  transition: 0.3s;
}
.nav_element:hover {
  color: var(--dl-color-primary-500);
}
.Footer_link {
  color: var(--dl-color-gray-900);
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.Footer_link:hover {
  color: var(--dl-color-primary-500);
}
.icons {
  fill: #d9d9d9;
  width: 24px;
  cursor: pointer;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.icons:hover {
  fill: var(--dl-color-primary-500);
}
.mid-element-initial {
  width: 200px;
  height: 300px;
  display: flex;
  min-width: 200px;
  transform: translateX(100%);
  object-fit: cover;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1638176373124-28142ef16c5b?ixid=Mnw5MTMyMXwwfDF8YWxsfDE0fHx8fHx8Mnx8MTYzODE5NzE5OA&ixlib=rb-1.2.1&h=500");
  background-position: center;
}
.left-element-initial {
  width: 200px;
  height: 300px;
  margin: 0;
  display: flex;
  min-width: 300px;
  transform: translateX(100%);
  min-height: 500px;
  object-fit: cover;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1638165212454-d92d3050351b?ixid=Mnw5MTMyMXwwfDF8YWxsfDE5fHx8fHx8Mnx8MTYzODE5ODA2Mg&ixlib=rb-1.2.1&h=300");
  background-position: center;
}
.right-element-initial {
  width: 200px;
  height: 300px;
  margin: 0;
  display: flex;
  min-width: 200px;
  transform: translateX(125%);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1638165212454-d92d3050351b?ixid=Mnw5MTMyMXwwfDF8YWxsfDE5fHx8fHx8Mnx8MTYzODE5ODA2Mg&ixlib=rb-1.2.1&h=300");
  background-position: center;
}
.mid-element {
  order: 2;
  min-width: 300px !important;
  transform: translateX(0) !important;
  min-height: 500px !important;
}
.left-element {
  order: 1;
  min-width: 200px !important;
  transform: translateX(0) !important;
  min-height: 300px !important;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.right-element {
  order: 3;
  transform: translateX(0) !important;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.hidden-element {
  display: none !important;
}
.join {
  text-align: center;
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  -backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  -background-color: rgba(17, 25, 40, 0.75);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}
.navbar-fixed {
  width: 100%;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.mb-12 {
  margin-bottom: 12px;
}

.teleport-menu-mobile {
  transform: translateX(100%);
}

.h3-36 {
  font-size: 36px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.h1-96 {
  font-size: 96px;
  font-family: Poppins;
  font-weight: 300;
  letter-spacing: -1.5%;
  text-transform: none;
  text-decoration: none;
}
.h3-48 {
  font-size: 48px;
  font-family: Poppins;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.subtitle-14 {
  font-size: 14px;
  font-family: Arial;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.h5-24 {
  font-size: 24px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.h2-60 {
  font-size: 60px;
  font-family: Poppins;
  font-weight: 300;
  letter-spacing: -0.5%;
  text-transform: none;
  text-decoration: none;
}
.footer-Text-Style {
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.h6-20 {
  font-size: 20px;
  font-family: Arial;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.caption {
  font-size: 14px;
  font-family: Poppins;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.body-16 {
  font-size: 16px;
  font-family: Arial;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.subtitle-16 {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.h4-28 {
  font-size: 28px;
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: 0.25%;
  text-transform: none;
  text-decoration: none;
}
.body-12 {
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25%;
  text-transform: none;
  text-decoration: none;
}
.button-14 {
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 1.25%;
  text-transform: none;
  text-decoration: none;
}
@media (max-width: 991px) {
  .icons {
    fill: var(--dl-color-gray-white);
    color: var(--dl-color-primary-700);
  }
  .teleport-menu-mobile {
    height: 100vh;
    display: flex;
    transition: 0.5s;
  }
  .teleport-menu-show {
    display: flex !important;
    transform: translateX(0);
  }
}
@media (max-width: 767px) {
  .Nav_bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media (max-width: 479px) {
  .Nav_bar {
    padding: var(--dl-space-space-unit);
  }
  .icons {
    fill: var(--dl-color-gray-white);
  }
  .join {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-fixed {
    width: 100%;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
